@charset "utf-8";

body {
  background-image: url("../image/ranking/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  font-family: "Roboto";
}

.c-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 390px;
  height: 70px;
  background-color: #000;
  border-radius: 35px 15px 15px 35px;
  overflow: hidden;
}

.c-img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-height: 70px;
  width: auto;
  max-width: 70px;
  border-radius: 35px;
  z-index: 1;
}

.c-style {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 0px;
  height: 0px;
  background-color: #fff;
  border-bottom: 70px solid #000;
  border-left: 250px solid #fff;
}

.vote {
  position: absolute;
  z-index: 1;
  bottom: 7px;
  right: 130px;
  font-size: 26px;
  font-weight: 200;
  color: #fff;
}

.percent {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 20px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.firstname {
  position: absolute;
  z-index: 1;
  color: #000;
  top: 21px;
  left: 75px;
  font-size: 18px;
  font-weight: 300;
}

.lastname {
  position: absolute;
  z-index: 1;
  color: #000;
  top: 3px;
  left: 75px;
  font-size: 18px;
  font-weight: 600;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 45px;
  font-weight: 100;
}


.divider {
  position: absolute;
  z-index: 1;
  top: 550px;
  left: 100px;
  width: 800px;
  height: 5px;
  background-color: #fff;
}
